<h1> Add Games </h1>

<%= form_for :game, url: games_path do |f| %>
  <p>
  <%= f.label :Al %>
  <%= f.select :al, [["DNP", 3], 1, 2, 3, 4, ["Win!", 6]]%>
  </p>

  <p>
  <%= f.label :Tom %>
  <%= f.select :tom, [["DNP", 3], 1, 2, 3, 4, ["Win!", 6]]%>
  </p>

  <p>
  <%= f.label :John %>
  <%= f.select :john, [["DNP", 3], 1, 2, 3, 4, ["Win!", 6]]%>
  </p>

  <p>
  <%= f.label :Oli %>
  <%= f.select :oli, [["DNP", 3], 1, 2, 3, 4, ["Win!", 6]]%>
  </p>

  <p>
  <%= f.label :Paul %>
  <%= f.select :paul, [["DNP", 3], 1, 2, 3, 4, ["Win!", 6]]%>
  </p>

  <p>
  <%= f.label :Secret%>
  <%= f.text_field :secret %>
  </p>

  <p>
  <%= f.submit 'Save Game', :class => "btn btn-primary"%>
  </p>
<% end %>
